html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.nav-brand-item {
    padding: 10px;
    color: #fff
}

.nav-item {
    color: #fff;
    padding: 10px;
}

.under-construction {
    padding-top: 200px;
    text-align: center;
}

img {
    max-width: 100%;
}